# need to encode url if there is special characters
# uncomment if you are using localhost
# DATABASE_URL="postgresql://aceplus:aceplus123@localhost:5439/database?schema=public"

# for docker db
DB_NAME=database
DB_USER=aceplus
DB_PASSWORD=aceplus123
DB_PORT=5439
# for docker db

NEXTAUTH_URL=http://localhost:3000/
AUTH_SECRET=b2poVyY1KtaLtstPF0GP7DMp6MOhEd8I9B8TtLrEY2M=
JWT_SECRET=yekivWn8ZR9uQNm0UdpOVvmaDvKS7jNsQg3LkVOlB7EbCE8InvB8UI30fGMWloIX